{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}
{% block stylesheets %}
    <!-- Custom styles for this page -->
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-8">
            <h2>Liste des sociétés</h2>
        </div>
        <div class="col-4">
            <a href="{{ path('societe_new') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                <span class="text">Creer une nouvelle société</span>
            </a>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Société</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Responsable</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for societe in societes %}
                        <tr>
                            <td>{{ societe.id }}</td>
                            <td>{{ societe.nom }}</td>
                            <td>{{ societe.nomResponsable }}</td>
                            <td>
                                <a href="{{ path('societe.show', {'id': societe.id}) }}">show</a>
                                <a href="{{ path('societe_edit', {'id': societe.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!-- Page level plugins -->
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock  %}
