{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}
{% block stylesheets %}
    <!-- Custom styles for this page -->
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-8">
            <h2>Liste des stages</h2>
        </div>
        <div class="col-4">
            <a href="{{ path('stage_new') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                <span class="text">Creer un nouveau stage</span>
            </a>
        </div>
        <div class="col-12">
            {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            {% endfor %}
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
{#                        <th>Description</th>#}
                        <th>Type</th>
                        <th>Duree</th>
                        <th>Formation</th>
                        <th>Dispo</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stage in stages %}
                        <tr>
                            <td>{{ stage.id }}</td>
                            <td>{{ stage.titre }}</td>
{#                            <td>{{ stage.description }}</td>#}
                            <td>{{ stage.type }}</td>
                            <td>{{ stage.duree }} mois</td>
{#                            <td>{{ stage.dateDebut ? stage.dateDebut|date('Y-m-d') : '' }}</td>#}
                            <td>{{ stage.formation.nom }}</td>
                            <td>{{ stage.disponibilitee ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('stage_show', {'id': stage.id}) }}">show</a>
                                <a href="{{ path('stage_edit', {'id': stage.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Page level plugins -->
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}
